<md-dialog aria-label="new comment for {{ dialog.movie.title }}">
    <form name="commentForm" ng-submit="dialog.createComment(dialog.comment)">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools" layout="row">
                <h5>New Comment</h5>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dialog.close()">
                    <md-icon md-font-icon="ion-android-close" aria-label="Close dialog" ></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-input-container>
                <label>Title of your comment...</label>
                <input type="text" ng-model="dialog.comment.title"/>
            </md-input-container>     
            <md-input-container>
                <label>Your comment ...</label>
                <textarea name="content" ng-model="dialog.comment.content"></textarea>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button flex type="reset" class="md-warn md-raised">
                Reset
            </md-button>
            <md-button flex type="submit" class="md-primary md-raised">
                Submit
            </md-button>
        </div>
    </form>
</md-dialog>