<form name="pseudoLoginForm" layout="column" flex layout-align="center center">
    <md-input-container>
        <md-select name="user" placeholder="Who do you want to be ?" ng-model="ctrl.selectedIndex"
                   ng-change="ctrl.userChange()">
            <md-option ng-repeat="user in ::ctrl.users" value="{{ $index }}">{{ user.name }}</md-option>
        </md-select>
    </md-input-container>
    <md-content ng-show="ctrl.selectedUser" layout="column" layout-align="center center">
        <div layout="row">
            <md-icon md-svg-icon="{{ctrl.selectedUser.avatar}}" class="avatar"></md-icon>
            <h2>{{ctrl.selectedUser.name}}</h2>
        </div>
        <md-button class="md-primary md-raised" flex>
            Login
        </md-button>
    </md-content>
</form>