<article layout="column">
    <div layout="row">
        <h1 flex>
            {{ ctrl.movie.title }}
        </h1>
        <span>{{ ctrl.movie.releaseYear }}</span>
    </div>
    <header layout="row" >
        <span flex></span>
        <md-fab-speed-dial md-direction="left" class="md-scale md-accent md-raised">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab">
                    <md-icon md-font-icon="ion-chevron-left"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="comment" class="md-fab md-raised md-mini" ng-click="ctrl.comment($event)">
                    <md-icon md-font-icon="ion-chatbox"></md-icon>
                </md-button>
                <md-button aria-label="social" class="md-fab md-raised md-mini">
                    <md-icon md-font-icon="ion-android-share"></md-icon>
                </md-button>
                <md-button aria-label="rate" class="md-fab md-raised md-mini">
                    <md-icon md-font-icon="ion-android-star-outline"></md-icon>
                </md-button>
            </md-fab-actions>

        </md-fab-speed-dial>
    </header>
    <img ng-src="{{ ctrl.movie.poster }}" alt="{{ ctrl.movie.title }}"/>

    <section>
        <p>
            {{ ctrl.movie.synopsis }}
        </p>
        <p>
            <span>Réalisateur : </span>
            <span>{{ ctrl.movie.directors }}</span>
        </p>
        <p>
            <span>Casting : </span>
            <span ng-repeat="actor in ctrl.movie.actors.split(', ')">{{ actor }}</span>
        </p>

        <md-list class="comments-area" ng-if="ctrl.comments">
            <h2>Commentaires</h2>
            <md-list-item class="md-3-line" ng-repeat="comment in ctrl.comments">
                <user-card user-id="{{ comment.author }}"></user-card>
                <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
                <div class="md-list-item-text">
                    <h3>{{comment.title }}</h3>
                    <p>{{ comment.content }}</p>
                </div>
            </md-list-item>
        </md-list>
    </section>
</article>