<section layout="column">
    <header layout="row" layout-align="end">
        <!--<span flex></span>-->
        <md-fab-speed-dial md-direction="left" class="md-scale md-accent md-raised">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab">
                    <md-icon md-font-icon="ion-chevron-left"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="comment" class="md-fab md-raised md-mini" ng-click="detailCtrl.comment($event)">
                    <md-icon md-font-icon="ion-chatbox"></md-icon>
                </md-button>
                <md-button aria-label="social" class="md-fab md-raised md-mini">
                    <md-icon md-font-icon="ion-android-share"></md-icon>
                </md-button>
                <md-button aria-label="rate" class="md-fab md-raised md-mini">
                    <md-icon md-font-icon="ion-android-star-outline"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </header>
    <md-card>
        <img ng-src="{{ detailCtrl.movie.poster }}" alt="{{ detailCtrl.movie.title }}"class="md-card-image"/>
        <md-card-content>
            <h2 class="md-title">
                {{ detailCtrl.movie.title }}
            </h2>
            <p>
                {{ detailCtrl.movie.synopsis }}
            </p>
            <p>
                <span>Réalisateur : </span>
                <span>{{ detailCtrl.movie.directors }}</span>
            </p>
            <p>
                <span>Casting : </span>
                <span ng-repeat="actor in detailCtrl.movie.actors.split(', ')">{{ actor }}</span>
            </p>
            <md-list class="comments-area" ng-if="detailCtrl.comments.length > 0">
                <h2>Commentaires</h2>
                <md-list-item class="md-3-line comment" ng-repeat="comment in detailCtrl.comments">
                    <user-card user-id="{{ comment.author }}"></user-card>
                    <div>
                        <h3>{{comment.title }}</h3>
                        <article layout="row">
                            <p>
                                {{ comment.content }}
                            </p>
                            <md-button ng-if="detailCtrl.user.id === comment.author" ng-click="detailCtrl.removeComment(comment.id,$index)" class="md-fab" style="text-align: center">
                                X
                            </md-button>
                        </article>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</section>